<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>The data use for this website has been taken from the following websites...</p>
        <ul>
            <li>Weatherstack.com</li>
            <li>Positionstack.com</li>
        </ul>

        <img class="portrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>